body{
  background-color: #eee;
  margin: 0;
  padding: 0;
}
header{
  width: 90%;
  background-image: url(../img/headwp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display: block;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 15%;
  position: relative;
}
h1{
  font-size: 4vw;
  color: rgb(255, 255, 255);
}
#entering{
  margin-left: 40px;
}
p{
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 3vw;
}
.warlock, .hunter, .titan{
  margin: 1%;
  width: 5vw;
  height: 10vh;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.titan{
  background-image: url(../img/titan.png);
}
.warlock{
  background-image: url(../img/warlock.png);
}
.hunter{
  background-image: url(../img/hunter.png);
}
.titan:hover{
  background-image: url(../img/titan1.png);
}
.warlock:hover{
  background-image: url(../img/warlock1.png);
}
.hunter:hover{
  background-image: url(../img/hunter1.png);
}
.side-icon{
  display: flex;
  margin-top: 50px;
}
.platform{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  font-size: 1.5vw;
}
.platform-icon{
  margin: 5%;
}
.platform-icon:hover{
  color: rgb(255, 255, 255);
}
.border-line{
  height: 110px;
  border: solid white;
  margin: 0;
}
.block{
  position: relative;
  cursor: pointer;
  line-height: 1;
  width: 170px;
}
.block:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 5px;
  background-color: rgb(255, 255, 255);
  content: "";
  transition: width 0.3s ease-out;
}

.block:hover:after,
.block:focus:after {
  width: 100%;
}
