body{
  background-color: #eee;
  margin: 0;
  padding: 0;
}
header{
  background-image: url(../img/headwp1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 15%;
  position: relative;
}
h1{
  font-size: 3.5vw;
  color: #909281;
  margin-bottom: 0.5vh;
  font-family: 'Noto Sans';
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#entering{
  margin-left: 3vw;
}
p{
  font-weight: bold;
  color: #909281;
  font-size: 2vw;
    font-family: 'Noto Sans';
}
.warlock, .hunter, .titan{
  margin:1%;
  text-align: center;
  display: block;
  position: relative;
  background-color: red;
  width: 5vw;
}
img{
  display: block;
  width: 100%;
}
.animate2{
  position:relative;
}

.animate2 img {
  position:absolute;
}
.animate2 img.first { /* первая картинка полностью прозрачная */

  opacity:0;


}

.animate2:hover img.first { /* при наведении курсора первая картинка становится не прозрачной */

  opacity:1;


}

.animate2:hover img.second, .animate2 img.second:hover { /* а вторая при наведении курсора становится прозрачной */

  opacity:0;

  filter:alpha (opacity=0);

}
.animate2:hover img.second, .animate2 img.second:hover {
  opacity:0;
  -moz-transition: all 0.69s ease;
  -webkit-transition: all 0.69s ease;
  -o-transition: all 0.69s ease;
  transition: all 0.69s ease;
}
.side-icon{
  display: flex;
  margin-left: 5.5vw;
  margin-bottom: 5vw;
}
.platform{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 2vh 1vh 0;
  font-size: 1.4vw;
}
.platform-icon{
  margin: 5%;
  color: #65665C;
}
.platform-icon:hover{
  color: rgb(255, 255, 255);
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.block{
  position: relative;
  cursor: pointer;
  line-height: 1;
  width: 15.2vw;
}
.block:after {
  display: block;
  position: relative;
  border-bottom: solid #fafafa 0.3vh;
  left: 0;
  width: 0;
  content: "";
  transition: width 0.3s ease-out;
}

.block:hover:after,
.block:focus:after {
  width: 100%;
}
.quote{
position: absolute;
right: 0;
top: 0;
width: 30vw;
height: 10vh;
white-space: pre;
font-size: 5px;;
}
